all: build



build:  src/system-ssh-agent.sh.erb src/system-ssh-agent.service.erb docs/system-ssh-agent.1.md
	mkdir build
	erb -r ./build-config.rb src/system-ssh-agent.sh.erb > build/system-ssh-agent.sh
	erb -r ./build-config.rb src/system-ssh-agent.service.erb > build/system-ssh-agent.service
	pandoc -s -t man docs/system-ssh-agent.1.md | gzip > build/system-ssh-agent.1.gz

install: README.md src/system-ssh-agent.lib.sh src/env.sh build/system-ssh-agent.sh build/system-ssh-agent.service build/system-ssh-agent.1.gz
	install -d -m 755 \
		<%= @destdir %><%= @docdir %>/system-ssh-agent/ \
		<%= @destdir %><%= @datadir %>/system-ssh-agent/  \
		<%= @destdir %><%= @bindir %> \
		<%= @destdir %><%= @sysconfdir %>/system-ssh-agent/\
		<%= @destdir %><%= @mandir %>/man1/ \
		<%= @destdir %>/etc/systemd/system/ 
	install -m 644 src/system-ssh-agent.lib.sh <%= @destdir %><%= @datadir %>/system-ssh-agent/ 
	install -m 644 src/env.sh <%= @destdir %><%= @sysconfdir %>/system-ssh-agent/
	install -m 644 README.md LICENSE <%= @destdir %><%= @docdir %>/system-ssh-agent/
	install -m 755 build/system-ssh-agent.sh <%= @destdir %><%= @bindir %>/
	install -m 644 build/system-ssh-agent.1.gz <%= @destdir %><%= @mandir %>/man1/
	install -m 644 build/system-ssh-agent.service <%= @destdir %>/etc/systemd/system/ 

clean:
	rm -rf build
