[Unit]
Description=System SSH Agent Service

[Service]
Type=forking
EnvironmentFile=<%= @sysconfdir %>/system-ssh-agent/env.sh
ExecStart=<%= @bindir %>/system-ssh-agent.sh start
ExecStartPost=<%= @bindir %>/system-ssh-agent.sh add-system-keys
ExecStop=<%= @bindir %>/system-ssh-agent.sh stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
